{% extends 'sendmail/base.html' %}

{% block title %} Servicios {% endblock title %}

{% block content%}
	<br>
	<ul class="list-group">
	  <li class="list-group-item list-group-item-success">Transferencias de Autos/Motos/Camiones</li>
	  <li class="list-group-item list-group-item-success">Inscripción Inicial (1057 ON LINE)</li>
	  <li class="list-group-item list-group-item-success">Informes y Certificado de Dominio</li>
	  <li class="list-group-item list-group-item-success">Duplicado de Cédula/Patente/Título</li>
	  <li class="list-group-item list-group-item-success">Alta/Baja de Motor/Carrocería</li>
	  <li class="list-group-item list-group-item-success">Baja del Automotor</li>
	  <li class="list-group-item list-group-item-success">Inscripción y Cancelación de Prendas</li>
	  <li class="list-group-item list-group-item-success">Cambio de Radicación</li>
	  <li class="list-group-item list-group-item-success">Denuncia de Venta/Compra/Robo/Hurto</li>
	</ul>
	<br>
{% endblock content %}